.features {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.features > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a3a3a;
}

.features > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #3a3a3a;
    text-align: center;
}

.features > ul > li > p {
    text-align: center;
}

.features > ul > li > img {
    width: 100%;
}